
/data/*
/figs/*
/calibration/*
/correction/*
!/data/.gitkeep
!/calibration/.gitkeep
!/correction/.gitkeep
!.gitignore


.idea/*

/papers/
/samantha_old

*__pycache__

*.svg
*.pdf
*.jpg
*.jpeg
*.png


